<mat-toolbar color="primary">
  <span>AD</span>

  <span class="fill-remaining-space"></span>

  <span class="nav-links">About</span>
  <span class="nav-links">Partners</span>
  <span class="nav-links">FAQs</span>
  <span class="nav-links">Github</span>
  <span class="nav-links nav-links-underlined">Login</span>
  <span class="nav-links nav-links-underlined">Sign up</span>
</mat-toolbar>

<div class="light-black-div">

  <div id="brand-name-container">
    <h1>
      <span class="altr-text">Altr</span>
      <span class="deck-text">Deck</span>
    </h1>
  </div>

  <div id="brand-caption-container">
    <p>An open-source project built for creating worship presentations with ease.</p>
  </div>

  <button class="primary-button" mat-raised-button>Get Started</button>

</div>

<div class="light-grey-div">

  <br><br><br><br>
  <p class="header-on-light-grey">What is AltrDeck?</p>
  <div class="header-info-on-light-grey-container">
    <p class="header-info-on-light-grey">AltrDeck aims to freely provide a tool for creating slides for praise and worship presentation.
      Not only for creating, but it also has a database system that stores your songs, lineups,
      announcements, aside from your slides.
    </p>
  </div>

</div>

<div class="light-black-div">

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>asd</mat-grid-tile>
    <mat-grid-tile>pic</mat-grid-tile>
    <mat-grid-tile>asd</mat-grid-tile>
    <mat-grid-tile>pic</mat-grid-tile>
    <mat-grid-tile>asd</mat-grid-tile>
    <mat-grid-tile>pic</mat-grid-tile>
  </mat-grid-list>

</div>
<div class="light-grey-div"></div>
